## Portfolio Optimization and Performance Analysis

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
def fetch_stock_data(ticker,start_date,end_date):
    stock_data = yf.download(ticker,start=start_date,end=end_date)
    return stock_data

In [3]:
end_date = pd.to_datetime('today')
start_date = end_date - pd.DateOffset(years=1)
print(start_date,end_date)
fetch_stock_data('HDFCBANK.BO',start_date,end_date)

2023-01-19 16:53:44.529762 2024-01-19 16:53:44.529762
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-19,1630.050049,1649.349976,1630.050049,1644.099976,1625.463867,94163
2023-01-20,1643.800049,1668.000000,1642.599976,1660.800049,1641.974609,758155
2023-01-23,1661.250000,1683.300049,1661.250000,1672.650024,1653.690308,85267
2023-01-24,1677.699951,1702.000000,1675.500000,1695.300049,1676.083618,127434
2023-01-25,1688.500000,1692.699951,1645.349976,1648.199951,1629.517334,137329
...,...,...,...,...,...,...
2024-01-12,1650.050049,1656.150024,1633.550049,1639.550049,1639.550049,798897
2024-01-15,1646.150024,1681.000000,1644.099976,1671.849976,1671.849976,975007
2024-01-16,1674.750000,1683.900024,1658.050049,1678.949951,1678.949951,268968
2024-01-17,1583.849976,1596.000000,1527.250000,1536.900024,1536.900024,2211606
2024-01-19,1514.000000,1514.000000,1469.000000,1470.699951,1470.699951,5827976